

.Navbar{
    background-color:  #063970;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.dashboard{
    height: 80vh;
    display: flex;
    padding: 1rem;
    background-color: azure;
}

.Add_Product_Form{
    width: 25vw;
}

.Product_List{
    width: 75vw;
    padding: 1rem;
    height: 75vh;
    overflow: scroll;
}

.myFooter{
    height: 10vh;
    background-color:  #063970;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo a{
    color: white;
    margin: 0px 5px;
    font-size: 30px;
}
#email{
    color: white;
    margin: 0px 5px;
    font-size: 30px;
}
#add_form{
background-color:  #063970;
}
#delete-btn{
     width: 40%;
}

#edit-btn{
    width: 40%;
}
#button-group{
    display: flex;
   justify-content: space-around;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:cyan;
  }

@media screen and (max-width:1000px) {
    .dashboard{
        height: auto;
        flex-direction: column;
    }

    .Add_Product_Form{
        width: auto;
        height: auto;
    }
    .Product_List{
        width: auto;
        height: 500px;
    }
    .Navbar{
        flex-direction: column;
        height: auto;
    }

    .myFooter{
        flex-direction: column;
        height: auto;
    }
    #delete-btn{
        width:100%;
   }
   
   #edit-btn{
       width: 100%;
   }
    #button-group{
       flex-direction: column;
       gap: 10px;
    }
}



